*{
    margin:0;
    padding:0;
}

.cabecalho{
    padding: 24px 0;
    font-size: 27px;
    background-color:#B83EE3;
    color: white;
    display:flex;
    justify-content: space-around;
}
.cabecalhoListaItem{
    margin: 0 30px;
    padding: 20px 0;
    display:inline-block;
}
.sobre-imagem{
    Width: 20%;
}
.sobre{
    background-image: linear-gradient(#C453EC,#9660c3);
    color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 3px;
}
.sobre-conteudo{
    width: 60%;
    padding: 100px 0px 100px 290px;
}
.sobre-texto-um{
    font-size: 25px;
    width: 50%;
}
.sobre-titulo{
    padding: 20px 0;
}
.membro-imagem{
    width: 150px;
}

.membro-icone{
    width: 20px;
}
.membro-div{
    text-align:center;
}
.membros-titulo{
    text-align: center;
    padding: 60px 0;
}
.membros-todos{
    display: flex;
}
.membros-todos{
    display:grid;
    grid-template-columns: 2% 11% 11% 11% 11% 11% 11% 11% 11% ;
}